.bg-custom {
    background-color: #21D4FD;
    background-image: url("https://www.pngmagic.com/product_images/website-background-image-size-psd-vector-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.font-fa {
    font-family: 'Merriweather Sans', FontAwesome, sans-serif;
}

.active {
    color: red;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.medium {
    font-size: 30px;
}